**/.DS_Store
.idea/
build/
web/yadviga-slam.*

# OpenCV build files
third_party/opencv/*
!third_party/opencv/build_opencv.sh

# Emscripten build files
third_party/emsdk/emsdk

# Node modules
node_modules/
package-lock.json
package.json